$primary-bg: #F9F5D0;
$secondary-bg: #999;
$primary: #44C2B3;
$primary-dark: #369B8F;
$secondary: #44C2B3;
$actived: #FF827D;
$height: 300px;
$width: 500px;
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
body{
  background: $primary-bg;
}
.game_wrapper{
  width:$width;
  height:$height;
  oveflow:hidden;
  border:1px solid #ccc;
  background:#FFDE05;
  position:relative;
}
.cover{
  position:absolute;
  top:0;
  left:0;
  .container{
	margin:-150px auto 0 auto;
	z-index:1000;
	position:relative;
  }
  img{
	position:relative;
	z-index:100;
	width:$width;
	height:$height;
  }
  ul{
	margin:0 auto 10px auto;
	width:230px;
	border-radius:10px;
	list-style:none;
	background:$primary;
	padding:10px;
	.tweet{
	  position: relative;
	  margin: -32px 0 0 164px;
	  display: block;
	  width: 65px;
	  line-height: 24px;
	  color: #fff;
	  text-align: center;
	  font-size: 12px;
	  background-color: #55ACEE;
	  border: 1px solid #fff;
	  border-radius: 4px;
	}
	li{
	  color:#fff;
	  font-size:15px;
	  line-height:20px;
	  span{
		background:$primary;
		color:#fff;
		padding:2px;
	  }
	}
  }
  .start_btn{
	margin:0 auto;
	display:block;
  }
}
.board{
  float:left;
  padding:15px;
}
.l-row{
  margin:0;
  padding:0;
  
}
.l-col{
  float:left;
  margin:0;
  padding:0;
}
.side_menu{
  width:100px;
  padding:10px;
  float:left;
  .back_btn, .pause_btn{
	background:$primary;
	border:1px solid $primary;
	color:#fff;
	border-radius:4px;
	margin:0 auto 10px auto;
  }
}

.square{
  border:1px solid $primary;
  width:10px;
  height:10px;
  background:#ffffff;
  float:left;
  &.actived{
	background:$actived;
  }
  &.freezed{
	background:$primary;
  }
}

.start_logo{
  display:block;
  width:305px;
  height:80px;
  margin:60px auto 0 auto;
}
.start_btn{
  transition:all 0.5s;
  margin:30px auto 0 auto;
  text-align:center;
  background:$primary;
  border:1px solid $primary;
  color:#fff;
  border-radius:10px;
  width:250px;
  height:50px;
  line-height:50px;
  font-size:25px;
  border-bottom:2px solid $primary-dark;
  &:hover{
	background: $primary-dark;
  }
}

.score{
  float:left;
  margin:10px;
  ul{
	list-style:none;
	margin:0 0 0 0;
	li{
	  color:$primary;
	  font-size:15px;
	  line-height:20px;
	  span{
		background:$primary;
		color:#fff;
		padding:2px;
	  }
	}
  }
}
